
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>


            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
            <form class="form-signin">
              <div class="form-label-group">
                <%# <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                <label for="inputUserame">Username</label> %>

                <%= f.label :fullname %><br />
                <%= f.text_field :fullname, id:"inputUsername", autofocus: true, autocomplete: "full name",autofocus:true,class:"form-control",placeholder:"Enter your name" %>
              </div>

              <div class="form-label-group">
                <%# <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                <label for="inputEmail">Email address</label> %>


                <%= f.label :email  %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email",id:"email",class:"form-control",placeholder:"Enter your email" %>
              </div>
              
              <hr>

              <div class="form-label-group">
<<<<<<< HEAD
                
                <label for="inputPassword">Password</label>
=======
               
>>>>>>> master
                 <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", placeholder:"Enter Password", id:"password",class:"form-control", aria_describedby:"emailHelp" %>
                </div>
        
              <div class="form-label-group">
                <%# <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                <label for="inputConfirmPassword">Confirm password</label> %>

                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"Enter Password again", id:"password2",class:"form-control", aria_describedby:"emailHelp" %>
              </div>

              <%= f.submit "Register", class:" btn btn-block btn-lg btn-primary tx-tfm"%>


              <%# <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button> %>
              <%# <a class="d-block text-center mt-2 small" href="#">Sign In</a> %>

              <%= link_to "Sign In",new_session_path(resource_name),class:"d-block text-center mt-2 small" %>
              <hr class="my-4">

              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
              <%# <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button> %>
              <%= link_to raw('<i class="fab fa-facebook"></i> Signin with facebook'), user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block",icon:"fab fa-facebook"%>


            </form>
          </div>


          <%end%>
        </div>
      </div>
    </div>
  </div>

  <body>

