<nav class="mb-1 navbar navbar-expand-lg navbar-custom">
  <%= link_to "Golshan Stay", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to "Become a host", new_room_path, style: "color: white; text-decoration:
        none;" %>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <% if (!user_signed_in?) %>
      <li class="nav-item active">
        <%= link_to "Login", new_user_session_path %>
      </li>&nbsp;&nbsp;
      <li class="nav-item active">
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>&nbsp;&nbsp;
        <% else %>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle-o fa-1x"></i> <%= current_user.fullname %> </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info">
          <%= link_to "Edit Your Profile", edit_user_registration_path, :id => "drop" %><br>
          <%= link_to "Manage Listing", rooms_path, :id => "drop" %><br>
          <%= link_to "List Your Space", new_room_path, :id => "drop" %><br>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, :id => "drop" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</nav>




