<!-- Static navbar -->
<!--Navbar -->
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-custom">
  <%= link_to "Golshan Stay", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to "Become a host", new_room_path, style: "color: white; text-decoration:
        none;" %>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <% if (!user_signed_in?) %>
      <li class="nav-item active">
        <%= link_to "Login", new_user_session_path %>
      </li>&nbsp;&nbsp;
      <li class="nav-item active">
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>&nbsp;&nbsp;
        <% else %>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> <%= current_user.fullname %> </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info">
          <%= link_to "Manage Listing", rooms_path, :id => "drop" %><br>
          <%= link_to "List Your Space", new_room_path, :id => "drop" %><br>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, :id => "drop" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</nav>



<% if (user_signed_in?) && !current_page?(root_path) && !current_page?("/rooms/#{params[:id]}")%>
    <nav class="navbar navbar-default" style="background-color: #565A5C">
      <div class="container">
        <ul class="nav navbar-nav">
          <%# <li <% if current_page?(dashboard_path) %>
           <%# class="active" <% end %>
            <%# ><%= link_to "Dashboard", dashboard_path %>
            <%# </li> %>
          <li <% if current_page?(rooms_path) %> class="active" <% end %> ><%= link_to "Manage Listings", rooms_path %></li>
          <%# <li <% if current_page?(conversations_path) %>
           <%# class="active" <% end %>  
           <%# <%= link_to "Messages", conversations_path %>
           <%# </li>  %>
          <%# <li <% if current_page?(revenues_path) %>
           <%# class="active"  %>
           <%# <% end > %>
          <%# #  <%= link_to "Revenues", revenues_path %>
          <%# </li> %>
          <%# <li <% if current_page?(host_calendar_path) %> 
          <%# class="active" <% end ><%= link_to "Host Calendar", host_calendar_path %>
          <%# </li> %>
          <%# <li <% if current_page?(payment_method_path) %>
          <%# class="active" <% end ><%= link_to "Account Settings", payment_method_path %>
          <%# </li> %>
        </ul>
      </div>
    </nav>
<% end %>
