<div class="row">
  <div class="col-md-7 banner">
    <h1><div class="text-red"></div> Book Nice and Worth Value Places With Golshan Stay.</h1>
  </div>
</div>

<%= form_tag search_path, method: :get do %>
  <div class="row">
    <div class="col-md-6">
      <%= text_field_tag :search, params[:search], placeholder: "Where are you going?",id: 'autolocation', class: "form-control", id: "autolocation" %>
    </div>
    <div class="col-md-3">
      <%= date_field_tag :start_date, params[:start_date], placeholder: "Check-in Date", class: "form-control datepicker" %>
    </div>
    <div class="col-md-3">
      <%= date_field_tag :end_date, params[:end_date], placeholder: "Check-out Date", class: "form-control datepicker" %>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= submit_tag "Search", class: "btn btn-lg btn-block" %>
    </div>
  </div>
<% end %>

<br/><hr/><br/>
<div><h3>Places To Stay</h3></div>
<br/>

<div class="row">
  <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
</div><br>

<div><h3 style="text-align:center;">Malaysia Popular Cities</h3></div>
<br/>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <a href="https://en.wikipedia.org/wiki/Cameron_Highlands_District">
      <div class="discovery-card" style="background-image: url('/assets/LA.jpg')"></div>
    </a>
    Cameron Highlands
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="https://en.wikipedia.org/wiki/Kuala_Lumpur">
      <div class="discovery-card" style="background-image: url('/assets/LD.jpg')"></div>
    </a>
    Kuala Lumpur
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="https://en.wikipedia.org/wiki/MELAKA">
      <div class="discovery-card" style="background-image: url('/assets/PR.jpg')"></div>
    </a>
    Melaka
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="https://en.wikipedia.org/wiki/PUTRA_JAYA">
      <div class="discovery-card" style="background-image: url('/assets/MI.jpg')"></div>
    </a>
    Putra Jaya
  </div>
</div>
<script>
$(function() {
    $("#autolocation").geocomplete();
  })
$('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  
  </script>