<div class="jumbotron jumbotron-fluid bg-dark">
  
    <div class="jumbotron-background">
    <%# <img src="https://placeimg.com/2000/1000/dog" class="blur "> %>
      <div class="swiper-container ">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="<%=asset_path('swiper_img/07jpg')%>" class="blur "></div>
          <div class="swiper-slide"><img src="https://placeimg.com/2000/1000/nature" class="blur "></div>
          <div class="swiper-slide"><img src="https://placeimg.com/2000/1000/love" class="blur "></div>
          <div class="swiper-slide"><img src="https://placeimg.com/2000/1000/music" class="blur "></div>
      </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
  </div>

  <div class="container text-white">
 <%= form_tag search_path, method: :get do %>
    <div class="search_container">
      <%# <input type="text" maxlength= "12" placeholder="Search..." class="searchbar"> %>
      <%= text_field_tag :search, params[:search], placeholder: "What are you searching for?",class: "searchbar",maxlength:"12"%>
      <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="Magnifying Glass" class="button">
    </div>

  <%end%>

    <hr class="my-4">
    <p class="power-text">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

  </div>
  <!-- /.container -->
  
 
</div>
<!-- /.jumbotron -->


<%# ====== list of service ========= %>

<div class="service_link">

<div class="header_caption">

<h2>Are you local or refugee affiliate?</h2>

</div>

<list class="row col-12">
  <item class="col-md-4 col-sm-12 col-xs-12">
 <p><span><%=icon('fas', 'building')%></span><br><h4>Organizations</h4></p>  </item>
  <item class="col-md-4 col-sm-12 col-xs-12">
 <p><span><%=icon('fas', 'university')%></span> <br><h4>Schools</h4></p>
  </item>
  <item class="col-md-4 col-sm-12 col-xs-12">
    <p><span><%=icon('fas', 'map')%></span> <br><h4>Clinic</h4></p>

  </item>
</list>



</div>





<%# ============ vv ============= %>




  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Nearby Room rentals</h2>
          <h3 class="section-subheading text-muted">Best Values</h3>
        </div>
      </div>

      <%# <div class="row"> %>

      <%@display_rooms =Room.all.order("created_at DESC").limit(6) %>

      <%unless @display_rooms.empty? %>

      <%@display_rooms.each do |apartment|%>

  <%@id = apartment.id%>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolio_<%=@id%>">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
              
            </div>

            <%# <div class="img-fluid"> %>

            <%= image_tag(url_for(apartment.cover),style:"height:300px;width:100%;") %>

            <%# </div> %>
            
          </a>
          <div class="portfolio-caption">
            <%# <h4><%=room.home_type</h4> %>
            <p class="text-muted"><%=apartment.room_type%></p>
            <%unless apartment.address.nil?%>

             <h4>Address</h4>
              <p class="text-muted" limit="20"><%=apartment.address%></p>

              <%else%>
                  <p class="text-muted">Address not available</p>
              <%end%>
          </div>
        </div>

        



        <!---Modal --->
<%# do not use %>
<div class="portfolio-modal modal fade" id="pIIIIIortfolio_<%=@id%>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <%# <img class="img-fluid d-block mx-auto"  src="<%=image_url('img/portfolio/02-full.jpg')%>" alt=""> %>
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Explore</li>
                  <li>Category: Graphic Design</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%# </div> %>

  <%# <%end%> 

  <%end%>


        <%else%>

          <h3>No rooms to display!</h3>
        <%end%>
      </div>
    </div>
  </section>

<!---Modal --->
<%# 
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto"  src="<%=image_url('img/portfolio/02-full.jpg')%>
                <%# <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Explore</li>
                  <li>Category: Graphic Design</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
 %>
<script>
$(function () { objectFitImages() });

</script>

