<div class="row">
  <%# <div class="col-md-7 banner">
    <h4>Be safe and sound <br>
    <span class="text-red" style="color:#0E1854;">search here</span> </h4>
  </div>
</div> %>

<%# <%= form_tag search_path, method: :get do %> %>
  <%# <div class="row"> %>
    <%# <div class="col-md-6"> %>
      <%# <%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control", id: "autolocation" %> %>
    <%# </div> %>
    <%# <div class="col-md-3"> %>
      <%# <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datepicker" %> %>
    <%# </div> %>
    <%# <div class="col-md-3"> %>
      <%# <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control datepicker" %> %>
    <%# </div> %>
  <%# </div> %>
  <%# <br/><br/> %>

  <%# <div class="row"> %>
    <%# <div class="col-md-offset-4 col-md-4"> %>
      <%# <%= submit_tag "Search", class: "btn btn-normal btn-block" %> %>
    <%# </div> %>
  <%# </div> %>
<%# <% end %> %>

<%# <br/><hr/><br/> %>

<%# ========== search bar ============ %>

<section class="hero-home">
      <div class="swiper-container hero-slider swiper-container-fade swiper-container-horizontal">
        <%# <div class="swiper-wrapper dark-overlay" style="transition-duration: 0ms;">
          <div style="background-image: asset_path(&quot;https://d19m59y37dris4.cloudfront.net/directory/1-2/img/photo/photo-1501621965065-c6e1cf6b53e2.jpg&quot;); width: 1280px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" class="swiper-slide"></div>
          <div style="background-image: url(&quot;https://d19m59y37dris4.cloudfront.net/directory/1-2/img/photo/photo-1519974719765-e6559eac2575.jpg&quot;); width: 1280px; opacity: 1; transform: translate3d(-1280px, 0px, 0px); transition-duration: 0ms;" class="swiper-slide"></div>
          <div style="background-image: url(&quot;https://d19m59y37dris4.cloudfront.net/directory/1-2/img/photo/photo-1490578474895-699cd4e2cf59.jpg&quot;); width: 1280px; opacity: 1; transform: translate3d(-2560px, 0px, 0px); transition-duration: 0ms;" class="swiper-slide swiper-slide-prev"></div>
          <div style="background-image: url(&quot;https://d19m59y37dris4.cloudfront.net/directory/1-2/img/photo/photo-1534850336045-c6c6d287f89e.jpg&quot;); width: 1280px; opacity: 1; transform: translate3d(-3840px, 0px, 0px); transition-duration: 0ms;" class="swiper-slide swiper-slide-active"></div>
        </div> %>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      <div class="container py-6 py-md-7 text-white z-index-20">
        <div class="row">
          <div class="col-xl-10">
            <div class="text-center text-lg-left">
              <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow">The best holiday experience</p>
              <h1 class="display-3 font-weight-bold text-shadow">Stay like a local</h1>
            </div>
            <div class="search-bar mt-5 p-3 p-lg-1 pl-lg-4">
              <form action="#">
                <div class="row">
                  <div class="col-lg-4 d-flex align-items-center form-group">
                    <input type="text" name="search" placeholder="What are you searching for?" class="form-control border-0 shadow-0">
                  </div>
                  <div class="col-lg-3 d-flex align-items-center form-group">
                    <div class="input-label-absolute input-label-absolute-right w-100">
                      <label for="location" class="label-absolute"><i class="fa fa-crosshairs"></i><span class="sr-only">City</span></label>
                      <input type="text" name="location" placeholder="Location" id="location" class="form-control border-0 shadow-0">
                    </div>
                  </div>
                  <div class="col-lg-3 d-flex align-items-center form-group no-divider">
                    <div class="dropdown bootstrap-select"><select title="Categories" data-style="btn-form-control" class="selectpicker" tabindex="-98"><option class="bs-title-option" value=""></option>
                      <option value="small">Restaurants</option>
                      <option value="medium">Hotels</option>
                      <option value="large">Cafes</option>
                      <option value="x-large">Garages</option>
                    </select><button type="button" class="btn dropdown-toggle bs-placeholder btn-form-control" data-toggle="dropdown" role="button" title="Categories"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Categories</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                  </div>
                  <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary btn-block rounded-xl h-100">Search </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- HOMES -->
<div><h3>Homes</h3></div>
<br/>

<div class="row">
  <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
</div>

<!-- CITIES -->
<div><h3>Cities</h3></div>
<br/>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=los+angeles">
      <div class="discovery-card" style="background-image: url('/assets/LA.jpg')"></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=london">
      <div class="discovery-card" style="background-image: url('/assets/LD.jpg')"></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=paris">
      <div class="discovery-card" style="background-image: url('/assets/PR.jpg')"></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=miami">
      <div class="discovery-card" style="background-image: url('/assets/MI.jpg')"></div>
    </a>
  </div>
</div>


<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>
