<!-- HOMES -->

  
<div class="jumbotron jumbotron-fluid bg-dark">
  
    <div class="jumbotron-background">
    <%# <img src="https://placeimg.com/2000/1000/dog" class="blur "> %>
      <div class="swiper-container ">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="<%=asset_path('swiper_img/07jpg')%>" class="blur "></div>
          <div class="swiper-slide"><img src="https://placeimg.com/2000/1000/nature" class="blur "></div>
          <div class="swiper-slide"><img src="https://placeimg.com/2000/1000/love" class="blur "></div>
          <div class="swiper-slide"><img src="https://placeimg.com/2000/1000/music" class="blur "></div>
      </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
  </div>
  

 <div class="container text-white">
  <%= form_tag root_path, :method => 'get'  do %>
  <div class="search_container">
    <%= text_field_tag :search1, params[:search1], class:"searchbar", placeholder: "What are you searching for?",maxlength:"120" %>
    <input hidden type="submit" id="second_submit" formaction="#portfolio" visibility="hidden"> 

    <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="Magnifying Glass" class="button">
   <% end %>
  
</div>

    <hr class="my-4">
    <p class="power-text">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

  </div>
  <!-- /.container -->
  
 
</div>


<%# <div class="container"> %>

<%# <div class="container"> %>


<div class="breadcrumbs" id="hero_crumbs">

<%# ======== breadcrumb ========== %>
<nav class="c-navigation-breadcrumbs" aria-label="Breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
  <ol class="c-navigation-breadcrumbs__directory">

    <!-- Duplicating the "Home" link in both the global navigation and the breadcrumb trail is not recommended. -->
    <li class="c-navigation-breadcrumbs__item home_item" property="itemListElement" typeof="ListItem" aria-current="location">
      <a class="c-navigation-breadcrumbs__link home_link" href="<%=root_path%>" property="item" typeof="WebPage">
        <svg class="o-inline-svg-icon o-inline-svg-icon--baseline" aria-hidden="true">
          <title>Home</title> <!-- Tooltip -->
          <use href="#icon-home"></use>
        </svg>
        <span class="u-visually-hidden" property="name">Home</span>
      </a>
      <meta property="position" content="1">
    </li>
<%# 
     <li class="c-navigation-breadcrumbs__item home_item" property="itemListElement" typeof="ListItem">
      <a class="c-navigation-breadcrumbs__link home_item" href="<%=dashboard_path%>
      <%# "  property="item" typeof="WebPage"> %>
        <%# <span property="name">profile</span>
      </a>
      <meta property="position" content="2">
    </li>  %>
      
  </ol>
</nav>
<!-- /c-navigation-breadcrumbs -->



<svg aria-hidden="true">
  <defs>
    <!-- Icon design by Cole Bemis - https://feathericons.com/ -->
    <symbol id="icon-home" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
      <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </symbol>
  </defs>
</svg>
</div>

<%# ==== end of breadcrumb ==== %>

<!-- /.jumbotron -->


<%# ====== list of service ========= %>






<%# ============ vv ============= %>




  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Nearby Room rentals</h2>
            <h3 class="section-subheading text-muted">Best Values</h3>
          </div>
      </div>


      <div class="row">
        <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
      </div>
    </div> 


  <div class="container">
  <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Organizations</h2>
            <h3 class="section-subheading text-muted">For refugees</h3>
          </div>
        <%# </div> %>
    <div class="row"> 
      <%= render partial: "communities/communities_list", locals: {communities: @communities} %>
      <%= render partial: "educations/educations_list", locals: {educations: @educations} %>
      <%= render partial: "healths/healths_list", locals: {healths: @healths}%>
      <%= render partial: "ngos/ngos_list", locals: {ngos: @ngos}%>
    </div>
  </div>
</div>

<%# <hr width="60%" style="color:red !important;"/> %>

<%# <hr/> %>
  
<%# <div class="row">
<div id="chat"> %>

<div class="container">
  <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Posts</h2>
            <h3 class="section-subheading text-muted">by organizations</h3>
          </div>
 <%unless @posts.empty?%>
      <%@posts.reverse.each do |post|%>

    <div class="post">
  <div class="post-image post-image-1">
   <img src="https://images.freeimages.com/images/large-previews/bf4/the-road-through-the-woods-1449194.jpg" alt="">

 <%post.images.each do |image|%>
    <%=image_tag url_for(image)%>
  <%end%>
  </div>
  <div class="post-content">




  <%if !post.community.nil?%>
        <div class="row-space-2">
        <p><i>Tag</i>: <span class="org_tag badge badge-danger"><%=link_to post.community.name, community_path(post.community) %></span><span class="org_tag badge badge-pill badge-danger">community</span></p>
    
      </div>

      <p class="post-date">Posted on <time datetime=""><%=post.community.created_at.to_s(:my_datetime)%></time> 

    <%end%>
    <%if !post.health.nil?%>
        <div class="row-space-2">
        <p><i>Tag</i>: <span class="org_tag badge badge-pill badge-danger"><%=link_to post.health.name, health_path(post.health) %></span><span class="org_tag badge badge-pill badge-danger">Health</span></p> 

      </div>
          <p class="post-date">Posted on <time datetime=""><%=post.health.created_at.to_s(:my_datetime)%></time> 

    <%end%>
    <%if !post.ngo.nil?%>
        <div class="row-space-2">
        <p><i>Tag</i>: <span class="org_tag badge badge-danger"><%=link_to post.ngo.name, ngo_path(post.ngo) %></span><span class="org_tag badge badge-pill badge-danger">ngo</span></p> 
      </div>
          <p class="post-date">Posted on <time datetime=""><%=post.ngo.created_at.to_s(:my_datetime)%></time> 

    <%end%>
    <%if !post.education.nil?%>
        <div class="row-space-2">
        <p><i>Tag</i>: <span class="org_tag badge badge-danger"><%=link_to post.education.name, education_path(post.education)%></span><span class="org_tag badge badge-pill badge-danger">education</span></p>
      </div>
          <p class="post-date">Posted on <time datetime=""><%=post.education.created_at.to_s(:my_datetime)%></time> 

    <%end%>
    
      by <a class="post-author" href="#"><%=link_to post.user.fullname, user_path(post.user) %></a>
    </p>
    
    <%# <h2 class="post-title">A Long Road to Lorem Ipsum Dolor Sit Amet</h2> %>
    <div class="post-excerpt">
    <p><%= post.content.first(240)%></p>
    </div>
    <a class="post-link" href="#">Read More</a>
  </div>
</div>



<%end%>
    <%end%>

    </div>
    </div>


    </div>

   </div>
   <%# </div> %>
  </section>




<script>
$(document).ready(function() {
$(function () { objectFitImages() });
});
</script>