<!-- HOMES -->

  
<div class="jumbotron jumbotron-fluid bg-dark">
  
    <div class="jumbotron-background">
    <%# <img src="https://placeimg.com/2000/1000/dog" class="blur "> %>
      <div class="swiper-container ">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="<%=asset_path('swiper_img/07jpg')%>" class="blur "></div>
          <div class="swiper-slide"><img src="https://placeimg.com/2000/1000/nature" class="blur "></div>
          <div class="swiper-slide"><img src="https://placeimg.com/2000/1000/love" class="blur "></div>
          <div class="swiper-slide"><img src="https://placeimg.com/2000/1000/music" class="blur "></div>
      </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
  </div>

 <div class="container text-white">
  <%= form_tag root_path, :method => 'get'  do %>
   <%# <a onsubmit="#portfolio"> %>

  <div class="search_container">
    <%= text_field_tag :search1, params[:search1], class:"searchbar", placeholder: "What are you searching for?",maxlength:"120" %>
    <input hidden type="submit" id="second_submit" formaction="#portfolio" visibility="hidden"> 

    <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="Magnifying Glass" class="button">
     <%# </a> %>
   <% end %>
  
</div>

    <hr class="my-4">
    <p class="power-text">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

  </div>
  <!-- /.container -->
  
 
</div>
<!-- /.jumbotron -->


<%# ====== list of service ========= %>

<%# <div class="service_link">

<div class="header_caption">

<h2>Are you local or refugee affiliate?</h2>

</div> %>

<%# <div class="row col-12 badge_banner"> %>
  <%# <item class="col-md-4 col-sm-12 col-xs-12"> %>
 <%# <p><span><%=icon('fas', 'building')%>
 <%# </span><br><h4>Organizations</h4></p>  </item> %> 
  <%# <item class="col-md-4 col-sm-12 col-xs-12"> %>
 <%# <p><span><%=icon('fas', 'university')%>
 <%# </span> <br><h4>Schools</h4></p> %>
  <%# </item> %>
  <%# <item class="col-md-4 col-sm-12 col-xs-12"> %>
    <%# <p><span><%=icon('fas', 'map')%>
    <%# </span> <br><h4>Clinic</h4></p> %>

  <%# </item> %>
<%# </div> %>



<%# </div> %>





<%# ============ vv ============= %>




  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Nearby Room rentals</h2>
            <h3 class="section-subheading text-muted">Best Values</h3>
          </div>
      </div>


    <div class="row">
      <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
    </div>
    </div> 
<%# <div class="container"> %>
   <div class="row">
  <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Organizations</h2>
            <h3 class="section-subheading text-muted">For refugees</h3>
          </div>
  <div class="row"> 
    <%= render partial: "educations/educations_list", locals: {educations: @educations} %>
  </div>
  <div class="row">
  <%= render partial: "healths/healths_list", locals: {healths: @healths} %>
  </div>

    <div class="row">

  <%= render partial: "communities/communities_list", locals: {communities: @communities} %>

  </div>

    <div class="row">

  <%= render partial: "ngos/ngos_list", locals: {ngos: @ngos} %>

  </div>

  <%# </div> %>
  <%# </div> %>
  </div>

<div class="row">
<div id="chat">
    <%unless @posts.empty?%>
            <%@posts.reverse.each do |post|%>
                <div class="panel">
                    <div class="panel-body">
                    <%if !post.community.nil?%>
                        <div class="row-space-2">
                        <h4>Community Center Name: <%=link_to post.community.name, community_path(post.community) %></h4>
                      </div>
                    <%end%>
                    <%if !post.health.nil?%>
                        <div class="row-space-2">
                        <h4>Organization Name: <%=link_to post.health.name, health_path(post.health) %></h4> 
                      </div>
                    <%end%>
                    <%if !post.ngo.nil?%>
                        <div class="row-space-2">
                        <h4>NGO Name: <%=link_to post.ngo.name, ngo_path(post.ngo) %></h4> 
                      </div>
                    <%end%>
                    <%if !post.education.nil?%>
                        <div class="row-space-2">
                        <h4>Organization Name: <%=link_to post.education.name, education_path(post.education)%></h4>
                      </div>
                    <%end%>
                        <div class="row-space-2">
                        <%= post.content %>
                        </div>
                        <div class="row-space-2">
                        Post Writer: <%=link_to post.user.fullname, user_path(post.user) %>
                        </div>
                        <%post.images.each do |image|%>
                        <%=image_tag url_for(image), size:"250x250"%>
                        <%end%>
                    </div>
                    </div>
              <%end%>
    <%end%>


    </div>

   </div>
  </section>




<script>
$(function () { objectFitImages() });

</script>