<% rooms.each do |room| %>

          <div class="col-md-4 col-sm-6 portfolio-item" >
     
          <%= link_to room, :class => 'portfolio-link' do%>
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
         <%= image_tag(url_for(room.cover),style:"height:300px;width:100%;") %>
        
         <%end%>
            
          <div class="portfolio-caption">
             <h4 class="text-muted"><%=room.room_type%></h4>
             <div class="row col-12 rating_showbox">

            <div class="col-sm-6">
              <h6><span>RM<%= room.price %></span></h6><br>
          </div>

          <div class="col-sm-6">
              <%room.average_rating.times do%>
           <i class="fas fa-star star-yellow"></i>
           <%end%>

            <%(5-room.average_rating).times do%>
              <i class="fas fa-star text-muted"></i>
              <%end%>

          </div>

        </div>
                                        
                                   	  
<script>
$(document).on('turbolinks:load', function() {

  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= room.average_rating %>
  });
});
</script>
 </div>
        </div>
<% end %>


     

  

  