<% rooms.each do |room| %>

          <div class="col-md-4 col-sm-6 portfolio-item" >
        
          <%= link_to room, :class => 'portfolio-link' do%>
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
         <%= image_tag(url_for(room.cover),style:"height:300px;width:100%;") %>
        
         <%end%>
            
          <div class="portfolio-caption">
           
            <h4 class="text-muted"><%=room.room_type%></h4>
              RM<%= room.price %><br>
              <span id="average_rating"></span>
          </div>
        </div>
<script>
$(document).ready(function() {
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= room.average_rating %>
  });
});
</script>

<% end %>


     

  

  