<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="center">
      
    </div>
    <div class="">
      <div class="background-board">
        <div class="dshb-btn btn btn-lg btn-block "><%=link_to current_user.fullname, user_path(current_user) %></div>
        <div class="dshb-btn btn btn-lg btn-block"><%= link_to "Manage Listings", rooms_path %></div>
        <div class="dshb-btn btn btn-lg btn-block"><%= link_to "Manage Organizations", healths_path %></div>
        <div class="dshb-btn btn btn-lg btn-block"><%= link_to "Messages", conversations_path %></div>
       <div class="dshb-btn btn btn-lg btn-block"><%= link_to notifications_path do %>
              <span id="num_of_unread"><%= current_user.unread %></span> notification(s).
          <% end %>
      </div>

  </div>


     
    </div>
  </div>

  <div class="col-lg-9 col-md-6 col-sm-12">



    <!-- Your Listings -->
    <div class="panel panel-default">
      <div class="panel-heading">Your Listings (<%= @rooms.length %>)</div>
     
      <div class="panel-body" id="portfolio" >
        <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
      </div>
    
    </div>

</div>

</div>
