
<div class="row">
  <div class="col-md-3">
   </div>
      <div class="col-md-6 info-box">

          <h1 >Organization Info</h1>
          <div class="form-group " id="longtitude" data-long= "<%= @organization.longitude %>">

            <label>Organization Name:</label>
            <h2 class="org-name"><%= @organization.name %></h2>
            <hr>
            <label>Organization Address:</label> 
            <p><%= @organization.address %></p>
             <hr>
          </div>
         

          <div class="form-group">
            <p>This Organization offers (<%= @organization.service  %>) Services</p>
          </div>
          <hr>
        
        <div class="form-group">
         <p> Phone Number: <div><%= @organization.number %></p></div>
        </div>
     
        <hr/>




        <!-- About -->
      
        <!-- GOOGLE MAP -->
        <div class="row" id="latitude" data-lat= "<%= @organization.latitude %>">

      <div class="map1">
        <div id="map" style="map1"></div>
      </div>
      </div>
</div>







<script> 
  var lt = parseFloat(document.querySelector("#latitude").dataset["lat"])
  var ln = parseFloat(document.querySelector("#longtitude").dataset["long"])
  console.log(lt)
  console.log(ln)
  var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:lt, lng:ln},
          
          zoom: 8
        });
        var marker = new google.maps.Marker({
          position: {lat:lt, lng:ln},
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLwih_dEjx7rHvO04och6w_zABvfO8Dcw&callback=initMap"
    async defer></script> 
    </div>
    <hr/>