
<% @educations.each do |education| %>
    <div class="col-md-4">
        <div class="panel-body">
          <%= link_to education.name, education %><%unless education.link.nil?%><a href="<%=education.link%>"title="Website name"><i style="margin-right: 0.5em; color: #EEEEEE;" class="icon-home icon-4x"></i>organization Link</a><%end%>
        <br/>  Phone Number: <%= education.number %> <br> <%= education.address %>

        <br/> About        : <%=education.about%>   
        <br/> Accepted documents: <%=education.accepted_documents%>
        <br/> Services: <%=education.services%>
       </div>
    </div>
<% end %>