

<div class="breadgrumb">

<%# ======== breadcrumb ========== %>
<nav class="c-navigation-breadcrumbs" aria-label="Breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
  <ol class="c-navigation-breadcrumbs__directory">

    <!-- Duplicating the "Home" link in both the global navigation and the breadcrumb trail is not recommended. -->
    <li class="c-navigation-breadcrumbs__item" property="itemListElement" typeof="ListItem">
      <a class="c-navigation-breadcrumbs__link" href="<%=root_path%>" property="item" typeof="WebPage">
        <svg class="o-inline-svg-icon o-inline-svg-icon--baseline" aria-hidden="true">
          <title>Home</title> <!-- Tooltip -->
          <use href="#icon-home"></use>
        </svg>
        <span class="u-visually-hidden" property="name">Home</span>
      </a>
      <meta property="position" content="1">
    </li>

  <li class="c-navigation-breadcrumbs__item" property="itemListElement" typeof="ListItem" >
      <a class="c-navigation-breadcrumbs__link" href="<%=dashboard_path%>" property="item" typeof="WebPage">
        <span property="name">Dashboard</span>
      </a>
      <meta property="position" content="2">
    </li>


     <li class="c-navigation-breadcrumbs__item" property="itemListElement" typeof="ListItem" aria-current="location">
      <a class="c-navigation-breadcrumbs__link"  property="item" typeof="WebPage">
        <span property="name">Education</span>
      </a>
      <meta property="position" content="2">
    </li>

  </ol>
</nav>
<!-- /c-navigation-breadcrumbs -->

<svg aria-hidden="true">
  <defs>
    <!-- Icon design by Cole Bemis - https://feathericons.com/ -->
    <symbol id="icon-home" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
      <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </symbol>
  </defs>
</svg>
</div>


<%# ==== end of breadcrumb ==== %>

<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list background-board">
      <li class="sidebar-item dshb-btn btn btn-lg btn-block"><%= link_to "Health", healths_path, class: "sidebar-link " %></li>
      <li class="sidebar-item dshb-btn btn btn-lg btn-block"><%= link_to "Education", educations_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item dshb-btn btn btn-lg btn-block"><%= link_to "Community Centers", communities_path, class: "sidebar-link" %></li>
      <li class="sidebar-item dshb-btn btn btn-lg btn-block"><%= link_to "NGOs", ngos_path, class: "sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading" style="display:flex; justify-content:center;">
        Education Related Organizations
      </div>
      <div class="panel-body">

        <div class="panel-body">

            <% @educations.each do |education| %>
          <div class="row">
                <div class="col-md-6">
                  <h4><%=link_to education.name, education %></h4>
                </div>
              <% if current_user.id == education.user.id%>
              <div class="col-md-3 right">
                <%= link_to "Manage Posts about this organization","educations/#{education.id}/new_post" , class: "btn btn-form update" %>
                <%= link_to "Update Organization", edit_education_path(education), class: "btn btn-form update" %>
                <%= button_to "Delete Organization",  education,  method: :delete, class: "btn btn-form update", data: { confirm: 'Are you sure?' }  %>
              </div>
              <%end%>
          </div>
            <% end %>
            <hr>
        </div>
      </div>
      </div>
    </div>
    
</div>
