<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list background-board">
      <li class="sidebar-item btn btn-default btn-block"><%= link_to "Your Health Related Organizations", healths_path, class: "sidebar-link " %></li>
      <li class="sidebar-item btn btn-default btn-block"><%= link_to "Your Education Related Organizations", educations_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item btn btn-default btn-block"><%= link_to "Your Community Centers", communities_path, class: "sidebar-link" %></li>
      <li class="sidebar-item btn btn-default btn-block"><%= link_to "Your NGO Organizations", ngos_path, class: "sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading" style="display:flex; justify-content:center;">
        Education Related Organizations
      </div>
      <div class="panel-body">

        <div class="panel-body">

            <% @educations.each do |education| %>
          <div class="row">
                <div class="col-md-6">
                  <h4><%=link_to education.name, education %></h4>
                </div>
              <% if current_user.id == education.user.id%>
              <div class="col-md-3 right">
                <%= link_to "Manage Posts about this organization","educations/#{education.id}/new_post" , class: "btn btn-form update" %>
                <%= link_to "Update Organization", edit_education_path(education), class: "btn btn-form update" %>
                <%= button_to "Delete Organization",  education,  method: :delete, class: "btn btn-form update", data: { confirm: 'Are you sure?' }  %>
              </div>
              <%end%>
          </div>
            <% end %>
            <hr>
        </div>
      </div>
      
    </div>
    
</div>
