
<div class="row">
  <div class="col-md-3">
   </div>
      <div class="col-md-6 info-box">

          <h1 >Community Center Info</h1>
          <div class="form-group" id="longtitude" data-long= "<%= @community.longitude %>">

            <label>Community Center Name:</label>
            <h2 class="org-name"><%= @community.name %></h2>
            <hr>
            <label>Organization Address:</label> 
            <p><%= @community.address %></p>
            <hr>
            <div class="form-group">
            <p> Community Country: <div><%= @community.country %></p></div>
          </div>
             <hr>
          </div>
         
         
          <div class="form-group">
            <p>Services Provided by this organization: <%= @community.services  %></p>
          </div>
          <hr>
        
        <div class="form-group">
         <p> Phone Number: <div><%= @community.number %></p></div>
        </div>
        <% if !@community.link.nil? %>
        <div class="form-group">
         <p> The link to this organization's webpage: <div><%=link_to @community.name, "/#{@community.link}"%>
        </div>
        <%end%>

        <div class="form-group">
         <p> The Link To The Website: <div><%= @community.number %></p></div>
        </div>

        <%if @community.status == true%>
          <div class="form-group">
          <p> <%=@community.name%> is open for Registration.</p></div>
          </div>
        <%elsif @community.status == false%>
        <div class="form-group">
          <p> <%=@community.name%> is not open for Registration at the moment.</p></div>
          </div>
          <%end%>
          </div>
        <hr/>
        
          




        <!-- About -->
      
        <!-- GOOGLE MAP -->
        <div class="row" id="latitude" data-lat= "<%= @community.latitude %>">

      <div class="map1">
        <div id="map" style="map1"></div>
      </div>
      </div>
</div>
<script> 
  var lt = parseFloat(document.querySelector("#latitude").dataset["lat"])
  var ln = parseFloat(document.querySelector("#longtitude").dataset["long"])
  console.log(lt)
  console.log(ln)
  var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:lt, lng:ln},
          
          zoom: 8
        });
        var marker = new google.maps.Marker({
          position: {lat:lt, lng:ln},
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLwih_dEjx7rHvO04och6w_zABvfO8Dcw&callback=initMap"
    async defer></script> 
    </div>
    <hr/>